#logo {
    text-align: center;
    margin-bottom: -4px;
}

#body {
    text-align: center;

}

#searchBar {
    margin: 0px;
    padding: 1px 2px;
    width: 295.2px;
    height: 16px;
}

table {
    position: relative;
    margin: auto;
    width: 1368px;
    height: 76.4px;
}

#top {
    background-color: rgb(238, 238, 238);
}

#bottom {
    background-color: white;
}

#left {
    background-color: rgb(126, 229, 218);
    padding: 1px;
    width: 501.788px;
    height: 74.4px;
}

#center {
    font-size: small;
    background-color: rgb(112, 204, 194);
}

#right {
    background-color: rgb(98, 179, 170);
    font-size: small;
}

#subscribe {
    margin-right: 9.5px;
}

#copyright {
    font-size: small;
    text-align: center;
    margin-top: 16px;
}